<%= javascript_include_tag "currencies/currency_index", "data-turbo-track": "reload", defer: true %>
<h2>Daily Coin Info</h2>
<br>

<table id="currency_list" class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Market Cap</th>
      <th>1hr</th>
      <th>24hr</th>
      <th>7day</th>
    </tr>
  </thead>
  <tbody>
    <% @currencies.each do |currency| %>
      <tr class="cursor-pointer" data-link="<%= currency_path(currency) %>">
        <td><%= currency.name %></td>
        <td class="text-end"><%= number_to_currency currency.price_usd %></td>
        <td class="text-end"><%= number_to_currency currency.market_cap_usd %></td>
        <td class="text-end <%= diff_class(currency.change_percent_1hr) %>">
          <%= number_to_percentage currency.change_percent_1hr, precision: 2 %>
        </td>
        <td class="text-end <%= diff_class(currency.change_percent_24hr) %>">
          <%= number_to_percentage currency.change_percent_24hr, precision: 2 %>
        </td>
        <td class="text-end <%= diff_class(currency.change_percent_7d) %>">
          <%= number_to_percentage currency.change_percent_7d, precision: 2 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>