<%= javascript_include_tag "currencies/currency_show", "data-turbo-track": "reload", defer: true %>
<div class="container-lg">
  <p id="notice"><%= notice %></p>


  <h2><%= @currency.name %></h2>
  <br/>
  <div id="container" style="width:100%; height:400px;"></div>

  <h2>Daily Coin Info</h2>
  <br>

  <table id="currency_price_list" class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Currency</th>
      <th>Timestamp</th>
      <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <% @price_movements.each do |price_movement| %>
      <tr>
        <td><%= @currency.name %></td>
        <td class="text-end"><%= price_movement.timestamp.strftime("%m/%d/%Y %l:%M %p") %></td>
        <td class="text-end"><%= number_to_currency price_movement.price_usd %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<script>
    window.prices = <%= @price_movements.to_json.html_safe %>;
</script>