<!DOCTYPE html>
<html>
  <head>
    <title>CryptoCap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar bg-primary bg-opacity-10">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          Crypto Cap
        </a>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% if user_signed_in? %>
          <div class="d-flex">
            <div class="me-2"> <%= current_user.email %> </div>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="container-lg pt-4">

      <%= yield %>
    </div>
  </body>
</html>
